@charset "UTF-8";

/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */

* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
 /* configuração para tablet */


body {

background-image: url("../images/universe.jpeg");

}

header#cabeçalho {
    background-color: white;
    color: #E0C200;
}

main {
    background-color: #E0C200;
    color: white;
    min-width: 200px;
    max-width: 350px;
    margin: auto;
    padding: 10px;
    transition: 3s, 1s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 0px;
    margin-bottom: 14px;
    border: 1px solid black;
    }

    main p {
        font-size: 1.2em;
    }

    .logo {
    width: 20px;
    height: 20px;
    }

    div.video {
    border-radius: 8px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
    }
        
    div.video > iframe {
    border-radius: 8px;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    }   

    ul li {
        font-size: 1.2em;
    }

    .titulo {
    background-color: white;
    font-size: 1.5em;
    color: #E0C200;
    margin: -8px;
    }

    iframe#mapa {
    height: 250px; 
    margin: auto;
    width: 100%;
    border-radius: 8px;
    }

    footer#rodape {
    background-color: black;
    color: #E0C200;
    text-align: center;
    }
}


@media screen and (min-width: 769px)  {
 /* configuração para DESKTOP */
body {

background-image: url("../images/universe.jpeg");
        
}
        
header#cabeçalho {
background-color: white;
color: #E0C200;
}
        
main {
background-color: #E0C200;
color: white;
min-width: 300px;
max-width: 600px;
transition: 3s, 1s;
margin: auto;
padding: 10px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
padding-top: 0px;
margin-bottom: 14px;
border: 1px solid black;
}

main p {
font-size: 1.3em;
}

.logo {
width: 20px;
height: 20px;
}

div.video {
border-radius: 8px;
margin: 0px -20px 30px -20px;
padding: 20px;
padding-bottom: 58%;
position: relative;
}
    
div.video > iframe {
border-radius: 8px;
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

.titulo {
background-color: white;
color: #E0C200;
text-align: center;
font-size: 1.5em;
margin: -8px;
}

ul li {
font-size: 1.3em;
}
        
iframe#mapa {
height: 260px;
margin: auto;
width: 100%;
border-radius: 8px;
}

footer#rodape {
background-color: black;
color: #E0C200;

}
}
