* {
padding: 0px;
margin: 0px;
}

:root {
--cor01:#E0C200;
--cor02:#318FE0;
--cor03:#F0D9FA;
}

body {
background: black url('https://sm.ign.com/t/ign_br/news/t/this-is-th/this-is-the-stunning-first-image-of-the-cosmos-from-the-jame_qqzx.h960.jpg') center center no-repeat fixed;
background-size: cover;
}

header {
background-image: linear-gradient(yellow, #E0C200);
padding:10px;
margin: -10px;
text-shadow: 1em black;
padding-top: 1em;
min-width: 350px;
}


div.video {
border-radius: 8px;
margin: 0px -20px 30px -20px;
padding: 20px;
padding-bottom: 58%;
position: relative;
}

div.video > iframe {
border-radius: 8px;
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

header h1 {
color: white;
text-shadow: 1cm black;
text-align: center;
font-family: url();
padding-top: 1em;
padding-bottom: 1em;
}

header p {
color: white;
text-align: center;
padding-top: 1em;
padding-bottom: 1em;
}

nav {
background-color: var(--cor01);
padding: 10px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav a {
color: white;
text-decoration: none;
padding: 10px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav a:hover {
color: var(--cor01);
background-color: aliceblue;
padding: 10px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
transition-duration: 0.5s;
}

main {
background-color: white;
min-width: 100px;
max-width: 650px;
max-width: 700px;
margin: auto;
padding: 10px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
padding-top: 0px;
margin-bottom: 14px;
}

main a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

main a:hover {
    color: var(--cor01);
    font-weight: italic;
}

footer {
color: var(--cor01);
background-color: black;
text-align: center;
}

footer a {
text-decoration: none;
}

.logo {
width: 20px;
height: 20px;
}

footer a:hover {
text-decoration: underline;
}

article {
padding: 8px;
}

.endereço {
padding: 8px;
}

iframe {
padding: ;
}





